/*

    Ficheiro CSS usado para os níveis dentro da "janela"

*/

@import url(style.css);

/* PASSWORD QUIZ */

#pass {
    position:relative;
    border: 1px solid var(--mauve);
    border-radius: 5px;
    background-color: var(--crust);
    width:min-content;
    margin:20px auto -20px auto;
    padding: 10px 50px;
    box-shadow: 0 3px 3px var(--surface2);
}


#pass input {
    margin: 10px;
    background: none;
    padding: 6px 10px;
    text-align: center;
}

#pass input[type=text] {
    margin: 5px 10px;
    background: #96969656;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--surface2);
    padding: 6px 10px;
    text-align: center;
}

#pass input[type=button] {
    border:none;
    border-radius: 5px;
    border: 1px solid var(--sapphire);
    background-color: #b7caff;
    width:90%;
    box-shadow: 0 3px 3px var(--surface2);
}

#pass input[type=button]:hover {
    background-color: var(--sapphire);
    color: white;
    cursor:pointer;
}

#passchecks {
    text-align:left;
    margin-top:10px;
}

/* -------- */


#sms {
    position:relative;
    border: 1px solid var(--sapphire);
    border-radius: 5px;
    background-color: var(--crust);
    width:300px;
    margin:20px auto -20px auto;
    padding: 20px 25px;
    box-shadow: 0 3px 3px var(--surface2);
}

#mess-number {
    position:relative;
    font-weight: bold;
    float: left;
}

.mess-menu {
    position: relative;
    float: right;
    top: -9px;
}

.message {
    clear: both;
    position:relative;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    background: var(--blue);
    color: white;
    padding: 10px;
    text-align: left;
    width: 75%;
    margin-bottom: 5px;
    margin-top: 10px;
}

#sms-bottom {
    margin-top: 100px;
    margin-bottom: 10px;
    position: relative;
}

#sms-input {
    float: left;
    position: relative;
    width: 75%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 10px;
    margin-right: 5%;
}

#sms-send {
    position: relative;
    color: var(--sapphire);
    background: white;
    padding: 10px;
    border-radius: 20px;
}


/* Dropdown Button */
.dropbtn {
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    width: 15px;
    cursor: pointer;
}
  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: var(--blue);
    color: white;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--mantle);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    right: 0;
    margin-top: 35px;
    margin-right: 20px;
}

  /* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

  /* Change color of dropdown links on hover */
.dropdown-content p:hover {
    background-color: var(--sapphire);
    color: white;
}

.dropdown-content p:hover:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-content p:hover:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}