@import url(style.css);

* {
    padding: 0px;
    transition-duration: 250ms;
}

@font-face {
    font-family: 'ComfortaaSemiBold';
    src: url(../assets/fonts/Comfortaa-SemiBold.ttf);
}

.background {
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    > img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
    }
}

/*-----   Pesquisa  ---------------------*/

#searchb {
    width: 100%;
    height: calc(100% - (var(--titlebarh) + 6px));
    border-radius: 0 0 10px 10px;
    position: relative;
    #search {
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background-color: white;

        #searchbar {
            padding: 30px;
            position: relative;
            background-color: white;
            height: 100px;
            border-bottom: 1px solid rgb(189, 189, 189);
            #searchlogo {
                position: relative;
                background-image: linear-gradient(90deg, var(--p1), var(--p2));
                float: left;
                font-size: 30px;
                font-weight: bolder;
                padding: 5px;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            #searchinput {
                position: relative;
                float: left;
                border: none;
                outline: none;
                border-radius: 30px;
                padding: 15px 20px 15px 45px;
                font-size: 16px;
                width: 600px;
                margin-left: 20px;
                background-color: white;
                background-image: url('../assets/img/magnifying-glass-solid.svg');
                background-position: 15px 15px; 
                background-repeat: no-repeat;
                background-size: 20px;
                box-shadow: 0px 2px 3px 3px rgba(128, 128, 128, 0.199);
            }

            .searchopt{
                position: relative;
                float: left;
                clear: left;
                padding: 20px auto;
                margin-top: 20px;
                margin-left: 202px;
                padding: 10px 20px;
                
                > span {
                    padding: 10px 20px;
                    border-radius: 40px;
                    border: 1px solid rgb(168, 168, 168);
                    background-color: white;
                    margin-right: 10px;
                    font-size: 15px;
                }
            }

            #user {
                width: 300px;
                position: relative;
                float: right;
                margin-top: -40px;

                #searchuser {
                    position: absolute;
                    top: -5px;
                    right: 30px;
                    padding: 10px;
                }

                i {
                    position: absolute;
                    right: 0;
                    font-size: 30px;
                }
            }
        }

        #searchresults {
            margin-left: 230px;
            .searchentry {
                text-align: left;
                padding: 20px;
                width: 700px;

                &:hover {
                    cursor: pointer;
                }

                img {
                    width: 20px;
                    float:left;
                    margin: 10px;
                }
                
                .websitetitle {
                    font-size: 16px;
                }

                .websiteurl {
                    font-size: 12px;
                    color: gray;
                }

                .websitetopic {
                    font-size: 23px;
                    color: var(--blue);
                }

                .websiteblurb {
                    font-size: 16px;
                    color: rgb(59, 59, 59);
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        #searchbar {
            padding: 10px !important;
            #searchlogo {
                clear: both;
                float:left;
                font-size: 20px !important;
            }
            #searchinput {
                width: 20% !important;
                float: left;
                font-size: 14px !important;
                padding: 8px 8px 8px 30px !important;
                background-position: 7px 8px !important; 
                background-repeat: no-repeat;
                background-size: 14px;
            }
            .searchopt{
                margin-left: 0 !important;
                > span {
                    font-size: 13px !important;
                }
            }
            #user {
                display: none !important;
            }
        }
        #searchresults {
            margin-left: 20px !important;
            .searchentry {
                width: 80% !important;
                padding: 9px !important;
                .websitetitle {
                    font-size: 13px !important;
                }

                .websiteurl {
                    font-size: 10px !important;
                    overflow: hidden;
                }

                .websitetopic {
                    font-size: 18px !important;
                }

                .websiteblurb {
                    font-size: 14px !important;
                }
            }
        }
    }

    @media only screen and (max-width: 700px) {
        #searchbar {
            height: 40px !important;
            padding: 10px !important;
            #searchlogo {
                clear: both;
                float:left;
                font-size: 20px !important;
            }
            #searchinput {
                width: 40% !important;
                float: left;
                font-size: 14px !important;
                padding: 8px 8px 8px 30px !important;
                background-position: 7px 8px !important; 
                background-repeat: no-repeat;
                background-size: 14px;
            }
            .searchopt{
                display: none !important
            }
            #user {
                display: none !important;
            }
        }
        #searchresults {
            margin-left: 20px !important;
            .searchentry {
                width: 80% !important;
                padding: 2px 9px !important;
                .websitetitle {
                    font-size: 12px !important;
                }

                .websiteurl {
                    font-size: 10px !important;
                    overflow: hidden;
                }

                .websitetopic {
                    font-size: 13px !important;
                }

                .websiteblurb {
                    font-size: 10px !important;
                }
            }
        }
    }
}

/*-----   Passwords  --------------------*/

#passb {
    width: 100%;
    height: calc(100% - (var(--titlebarh) + 6px));
    border-radius: 0 0 10px 10px;
    #pass {
        position: absolute;
        border-radius: 5px;
        background-color: var(--crust);
        width: max-content;
        padding: 10px 20px;
        box-shadow: 0 3px 3px var(--surface2);
        margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        :hover {
            cursor: pointer;
        }

        input {
            margin: 10px;
            background: none;
            padding: 6px 10px;
            text-align: center;
        }

        input[type="text"] {
            margin: 5px 10px;
            background: #96969656;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border: none;
            border-bottom: 2px solid var(--surface2);
            padding: 6px 10px;
            text-align: center;
        }

        input[type="button"] {
            border: none;
            border-radius: 5px;
            background-color: #b7caff;
            width: 90%;
            box-shadow: 0 3px 3px var(--surface2);

            &:hover {
                background-color: var(--sapphire);
                color: white;
                cursor: pointer;
            }
        }
    }

    #passchecks {
        text-align: left;
        margin-top: 10px;

        label {
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 600px) {
        #pass {
            width: 70vw;
        }
    }
}

/*-----   SMS  --------------------------*/

#smsb {
    height: calc(100% - (var(--titlebarh) + 6px));
    border-radius: 0 0 10px 10px;

    .messagewindow {
        position: absolute;
        border-radius: 20px;
        background-color: rgb(31, 31, 31);
        width: 300px;
        padding: 20px 25px;
        box-shadow: 0 3px 3px var(--surface2);
        
        margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #mess-number {
        position: relative;
        font-weight: bold;
        float: left;
        color: white;
    }

    .mess-menu {
        position: relative;
        float: right;
        top: -9px;
        color: white;
    }

    .message {
        clear: both;
        position: relative;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        background: #575757;
        color: white;
        padding: 10px;
        text-align: left;
        width: 75%;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .link {
        text-decoration: underline;
        color: rgb(0, 174, 255) !important;
        &:hover {
            cursor: pointer;
        }
    }

    #sms-bottom {
        margin-top: 100px;
        margin-bottom: 10px;
        position: relative;
    }
    
    #sms-input {
        float: left;
        position: relative;
        width: 55%;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 10px 10px;
        margin-right: 5%;
        background-color: black;
        color: rgba(255, 255, 255, 0.664);
    }
    
    .sms-send {
        position: relative;
        color: white;
        background-color: var(--sapphire);
        padding: 10px;
        border-radius: 20px;
        margin-left: 5px;
    }

    .dropbtn {
        padding: 10px;
        font-size: 16px;
        border-radius: 50px;
        width: 15px;
        cursor: pointer;

        &:hover,&:focus {
            background-color: var(--sapphire);
            color: white;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        z-index: 1;
        right: 0;
        margin-top: 35px;
        margin-right: 20px;
    
        p{
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            cursor: pointer;
            
            &:hover{
                background-color: var(--sapphire);
                color: white;
                
                &:first-child{
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
    
                &:last-child{
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }

    .show {
        display: block;
    }
}

/*-----   WebSpoofing  ------------------*/

#webspoofing {
    background: rgb(255, 255, 255);
    height: calc(100% - (var(--titlebarh) + 6px));
    position: relative;
    border-radius: 0 0 10px 10px;

    #browser {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        #urlbar {
            background: var(--blue);
            padding: 9px;
            height: 23px;

            #lock {
                float: left;
                background-color: var(--yellow);
                padding: 4px;
                margin-right: 4px;
                border-radius: 6px;
            }

            &>input {
                float: left;
                clear: right;
                width: 70%;
                background: white;
                color: var(--text);
                border: none;
                border-radius: 5px;
                padding: 4px;
            }

            .hammenubar {
                float: right;
                color: white;
                background-color: rgba(255, 255, 255, 0);
                margin-left: 20px;
                margin-top: 4px;
            }
            
            .fa-right-from-bracket {
                margin-top: 0;
                background-color: #ffa600;
                color: var(--text);
                padding: 4px;
                border-radius: 6px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        #logofb {
            width: 250px !important;
        }
        #spoofing-content {
            .txt {
                float: left;
                width: 100px;
                text-align: right;
                margin-right: 20px;
            }
        }

        .spoofdownload {
            width: 100px;

            &:hover {
                cursor: pointer;
            }
        }
        
        #download {
            background-color: var(--green);
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 50px;
            color: white;
            padding: 30px;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                cursor: pointer;
                background-color: var(--sapphire);
            }
            i {
                font-size: 30px;
            }
        }

        #downloadhover {
            border: 1px solid var(--surface2);
            background: white;
            position: absolute;
            bottom: 0;
            right: 10px;
            width: 85%;
            padding: 3px;
            display: none;
        }
    }

    @media only screen and (min-width: 600px) {
        #urlbar {
            padding-left: 130px;
            padding-right: 130px;
        }
    
        #spoofing-content {
            padding-left: 50px;
            padding-right: 50px;
    
        }
    }
    
    @media only screen and (min-width: 1000px) {
        #spoofing-content {
            padding-left: 130px;
            padding-right: 130px;
        }
    
        #spoofing-content img {
            width: 250px;
            float: left;
            margin: 20px 0 0 30px;
        }
    
        #spoofing-content #login {
            float: right;
            margin: 30px 0 0 30px;
        }
    }
    
    @media only screen and (min-width: 1400px) {
        #spoofing-content {
            padding-left: 400px;
            padding-right: 400px;
        }
    }
}

/*-----   Engenharia Social   -----------*/
#engb {
    height: calc(100% - (var(--titlebarh) + 6px));
    background-image: linear-gradient(45deg, var(--p1) , var(--p2));
    border-radius: 0 0 10px 10px;

    #engwindow {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #engsocial {
        border-radius: 20px;
        background-image: url('../assets/img/bg5.jpg');
        background-size: 400px;margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        .icon {
            color: white;
            float: left;
            font-size: 25px;
            margin: 0 5px 5px 0;
        }

        #eng-input {
            width: 64%;
            background-color: #575757;
        }

        .sms-send {
            background: none;
            padding-left: 4px;
        }

        .message.warning {
            background: none;
            font-style: italic;
            
            input {
                width: 100%;
                background: none;
                outline: none;
                border: 2px solid var(--sapphire);
                border-radius: 10px;
                color: #ddd;
                font-size: 16px;
                margin-top: 10px;

                &:hover {
                    cursor: pointer;
                    background-color: var(--sapphire);
                    color: white;
                }
            }
        }

        &.messagewindow {
            position: relative;
            border-radius: 20px;
            background-color: rgb(31, 31, 31);
            width: 300px;
            padding: 20px 25px;
            box-shadow: 0 3px 3px var(--surface2);
        }

        #mess-number {
            position: relative;
            font-weight: bold;
            float: left;
            color: white;
        }

        .mess-menu {
            position: relative;
            float: right;
            top: -9px;
            color: white;
        }

        .message {
            clear: both;
            position: relative;
            border-radius: 10px;
            border-bottom-left-radius: 0;
            background: #575757;
            color: white;
            padding: 10px;
            text-align: left;
            width: 75%;
            margin-bottom: 5px;
            margin-top: 10px;
        }

        .link {
            text-decoration: underline;
            color: rgb(0, 174, 255) !important;
            &:hover {
                cursor: pointer;
            }
        }

        #sms-bottom {
            margin-top: 100px;
            margin-bottom: 10px;
            position: relative;
        }
        
        #sms-input {
            float: left;
            position: relative;
            width: 55%;
            border-radius: 10px;
            border: none;
            outline: none;
            padding: 10px 10px;
            margin-right: 5%;
            background-color: black;
            color: rgba(255, 255, 255, 0.664);
        }
        
        .sms-send {
            position: relative;
            color: white;
            background-color: var(--sapphire);
            padding: 10px;
            border-radius: 20px;
            margin-left: 5px;
        }

        .dropbtn {
            padding: 10px;
            font-size: 16px;
            border-radius: 50px;
            width: 15px;
            cursor: pointer;

            &:hover,&:focus {
                background-color: var(--sapphire);
                color: white;
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: black;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            z-index: 1;
            right: 0;
            margin-top: 35px;
            margin-right: 20px;
        
            p{
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                cursor: pointer;
                
                &:hover{
                    background-color: var(--sapphire);
                    color: white;
                    
                    &:first-child{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
        
                    &:last-child{
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }

        .show {
            display: block;
        }
    }
}

/*-----   Verificação de Email   --------*/

#email {
    background-color: var(--mantle);
    border-radius: 0 0 10px 10px;
    height: calc(100% - (var(--titlebarh) + 6px));
    position: relative;
    display: flex;
    flex-direction: column;

    .emailbrowser {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .emailtopbar {
            background-color: var(--p1);
            padding: 20px 0;
            position: relative;
            box-shadow: 0 2px 5px grey;
            z-index: 1;

            span {
                float: left;
                color: white;
                font-weight: bolder;
                margin-left: 40px;
            }

            .fa-circle-user {
                float: right;
                color: white;
                font-size: 25px;
                margin-right: 40px;
            }

            .fa-magnifying-glass {
                margin-left: -30px;
                color: white;
            }

            input {
                width: 60%;
                height: 25px;
                border-radius: 5px;
                box-shadow: 0 1px 3px rgba(22, 22, 22, 0.747);
                border: none;
            }
        }

        .emailcontent {
            width: calc(100% - 10px);
            height: min-content;
            background-color: white;
            margin: auto;
            position: relative;
            padding: 20px 0 0 5px;

            .text {
                text-align: left;
                padding: 10px;
                font-size: .9em !important;
            }
        }

        .assunto {
            margin: 20px auto 0 auto;
            padding: 8px 4px;
            font-size: 15px;
            height: 30px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 2px 3px grey;
        }

        .emailheader {
            border-bottom: 1px solid rgba(128, 128, 128, 0.493);
            position: relative;
            padding: 0 20px 5px 20px;
        }
        
        .iremetente {
            float: left;
            background: var(--p2);
            border-radius: 50px;
            padding: 5px;
            width: 23px;
            margin-right: 30px;
        }

        .remetente {
            padding: 10px;
            position: relative;
            font-weight: bold;
            text-align: left;
            width: 350px;

            &:hover {
                cursor: pointer;

                div {
                    display: block;
                }
            }
        }

        #emailhover {
            position: absolute;
            top: 40px;
            left: 60px;
            display: none;
            padding: 10px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 1px 3px grey;
            color: var(--blue);
        }

        .imail {
            position: relative;
            margin: auto;
            width: fit-content;

            img {
                width: 120px;
            }
        }

        .anexo {
            position: relative;
            margin: auto;
            width: fit-content;
            float: right;

            img {
                width: 35px;
            }
        }
        
        #emailimghover {
            border: 1px solid var(--surface2);
            background: white;
            position: absolute;
            bottom: 0;
            width: 85%;
            padding: 3px;
            display: none;
        }
        
        #emailimg:hover {
            cursor: pointer;
        }

        #signimg {
            float: left;
        }

        .buttons {
            padding: 8px;
            clear:both;

            .emailb {
                box-shadow: 0px 2px 6px grey;
                background: white;
                border: none;
                outline: none;
                color: var(--text);
                border-radius: 10px;
                padding: 10px 20px;
                margin-left: 10px;

                &:hover {
                    background-color: var(--sapphire);
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        .emailbrowser {
            .emailtopbar {
                input {
                    width: 30%;
                }
            }

            .assunto {
                font-size: 13px !important;
            }

            .emailcontent {
                .text {
                    font-size: .7em !important;
                }
            }

            .imail {
                img {
                    width: 90px;
                }
            }
        }
    }
}

/*-----   Geomic   ----------------------*/

#geomicb {
    width: 100%;
    height: calc(100% - (var(--titlebarh) + 6px));
    border-radius: 0 0 10px 10px;

    #geomic {
        h1 {
            font-family: "ComfortaaSemiBold";
            font-size: 60px;
        }
        p {
            text-align: right;
            margin-right: 35px;
            font-size:20px;
        }
        position: absolute;
        background-color: rgba(0, 0, 0, 0.95);
        width: 300px;
        padding:18px;
        border-radius: 3px;
        user-select: none;
        margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
        
        .geoinput {
            position: relative;
            height: 20px;
            border-radius: 4px;
            background-color: #a8d5bb;
            width: max-content;
            height: max-content;

            > i {
                margin-left:10px;
                color: black;
                font-size: 10px;
            }

            > input {
                background: white;
                outline: none;
                border-radius: 0 4px 4px 0;
                border: none;
                border-left: 1px solid rgb(192, 192, 192);
                padding: 4px 4px 4px 10px;
                margin-left: 12px;
                width: 250px;
            }
        }
        > span {
            position: absolute;
            left: 18px;
            bottom: 18px;
            float: left;
            color: var(--blue);
            font-size: 13px;
        }

        > input {
            float: right;
            color: white;
            background-color: var(--blue);
            border: none;
            outline: none;
            border-radius: 3px;
            padding: 6px 10px;
            margin-left: 10px;

            &:hover {
                cursor: pointer;
            }
        }

    }
}

/*-----   UAC   -------------------------*/

#uacb {
    width: 100%;
    height: calc(100% - (var(--titlebarh) + 6px));
    border-radius: 0 0 10px 10px;

    #uac {
        position: absolute;
        background-color: rgb(239, 241, 241);
        width: 500px;
        box-shadow: 0 3px 5px var(--surface2);
        border-radius: 8px;
        user-select: none;
        margin: 0 auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #uactopbar {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        width: calc(100% - 40px);
        background: #76b9ed;
        text-align: left;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
    }
    
    #uactitle {
        font-size: 22px;
        display: inline-block;
        margin-top: 10px;
    }
    
    #uaccontent {
        padding: 20px 30px;
        text-align: left;
    }
    
    #uacorigin {
        font-size: 15px;
    }
    
    #uacprogram {
        font-size: 22px;
        i {
            color: rgb(0, 140, 255);
        }
    }
    
    #uaclink {
        font-size: 15px;
        color: var(--blue);
        &:hover {
            cursor: pointer;
        }
    }

    #uacaddress {
        font-size: 15px;
    }
    
    #uacbottombar {
        background-color: rgb(239, 241, 241);
        padding: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;

        input {
            border: none;
            outline: none;
            width: 200px;
            background-color: white;
            padding: 10px;
            margin: 0 10px;
            border-radius: 10px;
            box-shadow: 0px 1px 2px rgba(88, 88, 88, 0.397);
            font-size: 16px;

            &:hover {
                cursor: pointer;
                background-color: var(--sapphire);
                color: white;
                box-shadow: 0px 2px 4px rgba(88, 88, 88, 0.651);
            }
        }
    }

    @media only screen and (max-width: 600px) {
        #uactitle {
            font-size: 18px;
        }
        #uac {
            width: 95vw;
        }
        #uaccontent span {
            font-size: 16px;
        }
        #uacprogram {
            font-size: 20px;
        }
        #uacorigin {
            font-size: 13px !important;
        }
        #uacbottombar {
            input {
                width: 80px;
            }
        }
        #uactopbar{
            font-size: 11px;
        }
        #uaclink {
            font-size: 13px !important;
        }
        #uacaddress {
            font-size: 13px !important;
        }
    }
}

/*-----   Wi-Fi   -----------------------*/

#browser {
    height: calc(100% - (var(--titlebarh) + 6px));

    #browsererror {
        width: max-content;
        position: relative;
        margin: 0 auto;
        top: 35%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: left;

        .error, .err {
            color: rgb(126, 124, 124);
        }

        .err {
            font-size: 13px;
        }
        
        span.diaglink {
            color: var(--blue);
            text-decoration: underline;
        }

        img {
            width: 60px;
            margin-bottom: 15px;
        }
    }

    #wifi {
        background-color: var(--p2);
        border-radius: 8px 8px 0 0;
        border: 1px solid var(--p1);
        border-bottom: none;
        position: absolute;
        bottom: 0;
        right: 20px;
        color: var(--p1);
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        width: 300px;
        box-shadow: 0px 2px 4px rgb(88, 88, 88);
    }

    .wifientry {
        text-align: left;
        padding: 20px 40px 20px 20px;
        position: relative;
        transition-duration: 0ms !important;

        &>.fa-wifi {
            font-size: 24px;
            margin-right: 10px;
        }

        &>.fa-lock {
            position: absolute;
            margin-left: -15px;
            margin-top: 14px;
            font-size: 13px;
        
        }

        .extra {
            font-weight: normal;
            padding: 20px 0 25px 20px;
            display: none;
            input {
                position: absolute;
                right: 10px;
                bottom: 10px;
                border:none;
                outline: none;
                border-radius: 0px;
                padding: 5px 30px;
                transition-duration: 0ms !important;

                &:hover {
                    cursor: pointer;
                    outline: 3px solid gray;
                }
            }
        }
        
        &:first-child {
            border-radius: 8px 8px 0 0;
        }
        
        &:hover {
            background-color: var(--p1);
            color: white;
            cursor: pointer;
        }
    }
}