@charset "UTF-8";
@import url(style.css);
* {
  padding: 0px;
  transition-duration: 250ms;
}

.background {
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.background img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

/*-----   Passwords  --------------------*/
#passb {
  width: 100%;
  height: calc(100% - (var(--titlebarh) + 6px));
  border-radius: 0 0 10px 10px;
}
#passb #pass {
  position: absolute;
  border-radius: 5px;
  background-color: var(--crust);
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  box-shadow: 0 3px 3px var(--surface2);
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
#passb #pass :hover {
  cursor: pointer;
}
#passb #pass input {
  margin: 10px;
  background: none;
  padding: 6px 10px;
  text-align: center;
}
#passb #pass input[type=text] {
  margin: 5px 10px;
  background: rgba(150, 150, 150, 0.337254902);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  border-bottom: 2px solid var(--surface2);
  padding: 6px 10px;
  text-align: center;
}
#passb #pass input[type=button] {
  border: none;
  border-radius: 5px;
  background-color: #b7caff;
  width: 90%;
  box-shadow: 0 3px 3px var(--surface2);
}
#passb #pass input[type=button]:hover {
  background-color: var(--sapphire);
  color: white;
  cursor: pointer;
}
#passb #passchecks {
  text-align: left;
  margin-top: 10px;
}
#passb #passchecks label {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  #passb #pass {
    width: 70vw;
  }
}

/*-----   SMS  --------------------------*/
#smsb {
  height: calc(100% - (var(--titlebarh) + 6px));
  border-radius: 0 0 10px 10px;
}
#smsb .messagewindow {
  position: absolute;
  border-radius: 20px;
  background-color: rgb(31, 31, 31);
  width: 300px;
  padding: 20px 25px;
  box-shadow: 0 3px 3px var(--surface2);
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
#smsb #mess-number {
  position: relative;
  font-weight: bold;
  float: left;
  color: white;
}
#smsb .mess-menu {
  position: relative;
  float: right;
  top: -9px;
  color: white;
}
#smsb .message {
  clear: both;
  position: relative;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  background: #575757;
  color: white;
  padding: 10px;
  text-align: left;
  width: 75%;
  margin-bottom: 5px;
  margin-top: 10px;
}
#smsb .link {
  text-decoration: underline;
  color: rgb(0, 174, 255) !important;
}
#smsb .link:hover {
  cursor: pointer;
}
#smsb #sms-bottom {
  margin-top: 100px;
  margin-bottom: 10px;
  position: relative;
}
#smsb #sms-input {
  float: left;
  position: relative;
  width: 55%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 10px;
  margin-right: 5%;
  background-color: black;
  color: rgba(255, 255, 255, 0.664);
}
#smsb .sms-send {
  position: relative;
  color: white;
  background-color: var(--sapphire);
  padding: 10px;
  border-radius: 20px;
  margin-left: 5px;
}
#smsb .dropbtn {
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  width: 15px;
  cursor: pointer;
}
#smsb .dropbtn:hover, #smsb .dropbtn:focus {
  background-color: var(--sapphire);
  color: white;
}
#smsb .dropdown {
  position: relative;
  display: inline-block;
}
#smsb .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  right: 0;
  margin-top: 35px;
  margin-right: 20px;
}
#smsb .dropdown-content p {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
#smsb .dropdown-content p:hover {
  background-color: var(--sapphire);
  color: white;
}
#smsb .dropdown-content p:hover:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#smsb .dropdown-content p:hover:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#smsb .show {
  display: block;
}

/*-----   WebSpoofing  ------------------*/
#webspoofing {
  background: rgb(255, 255, 255);
  height: calc(100% - (var(--titlebarh) + 6px));
  position: relative;
  border-radius: 0 0 10px 10px;
}
#webspoofing #urlbar {
  background: var(--blue);
  padding: 9px;
  height: 23px;
}
#webspoofing #urlbar #lock {
  float: left;
  background-color: var(--yellow);
  padding: 4px;
  margin-right: 4px;
  border-radius: 6px;
}
#webspoofing #urlbar > input {
  float: left;
  clear: right;
  width: 70%;
  background: white;
  color: var(--text);
  border: none;
  border-radius: 5px;
  padding: 4px;
}
#webspoofing #urlbar .hammenubar {
  float: right;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 20px;
  margin-top: 4px;
}
#webspoofing #urlbar .fa-right-from-bracket {
  margin-top: 0;
  background-color: #ffa600;
  color: var(--text);
  padding: 4px;
  border-radius: 6px;
}
#webspoofing #urlbar .fa-right-from-bracket:hover {
  cursor: pointer;
}
#webspoofing #spoofing-content .txt {
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 20px;
}
#webspoofing .spoofdownload {
  width: 100px;
}
#webspoofing .spoofdownload:hover {
  cursor: pointer;
}
#webspoofing #download {
  background-color: var(--green);
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  color: white;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
#webspoofing #download:hover {
  cursor: pointer;
  background-color: var(--sapphire);
}
#webspoofing #download i {
  font-size: 30px;
}
#webspoofing #downloadhover {
  border: 1px solid var(--surface2);
  background: white;
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 85%;
  padding: 3px;
  display: none;
}
@media only screen and (min-width: 600px) {
  #webspoofing #urlbar {
    padding-left: 130px;
    padding-right: 130px;
  }
  #webspoofing #spoofing-content {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1000px) {
  #webspoofing #spoofing-content {
    padding-left: 130px;
    padding-right: 130px;
  }
  #webspoofing #spoofing-content img {
    width: 250px;
    float: left;
    margin: 20px 0 0 30px;
  }
  #webspoofing #spoofing-content #login {
    float: right;
    margin: 30px 0 0 30px;
  }
}
@media only screen and (min-width: 1400px) {
  #webspoofing #spoofing-content {
    padding-left: 400px;
    padding-right: 400px;
  }
}

/*-----   Engenharia Social   -----------*/
#engb {
  height: calc(100% - (var(--titlebarh) + 6px));
  background-image: linear-gradient(45deg, var(--p1), var(--p2));
  border-radius: 0 0 10px 10px;
}
#engb #engsocial {
  border-radius: 20px;
  background-image: url("../assets/img/bg5.jpg");
  background-size: 400px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
#engb #engsocial .icon {
  color: white;
  float: left;
  font-size: 25px;
  margin: 0 5px 5px 0;
}
#engb #engsocial #sms-input {
  width: 64%;
  background-color: #575757;
}
#engb #engsocial .sms-send {
  background: none;
  padding-left: 4px;
}
#engb #engsocial .message.warning {
  background: none;
  font-style: italic;
}
#engb #engsocial .message.warning input {
  width: 100%;
  background: none;
  outline: none;
  border: 2px solid var(--sapphire);
  border-radius: 10px;
  color: #ddd;
  font-size: 16px;
  margin-top: 10px;
}
#engb #engsocial .message.warning input:hover {
  cursor: pointer;
  background-color: var(--sapphire);
  color: white;
}
#engb #engsocial.messagewindow {
  position: relative;
  border-radius: 20px;
  background-color: rgb(31, 31, 31);
  width: 300px;
  padding: 20px 25px;
  box-shadow: 0 3px 3px var(--surface2);
}
#engb #engsocial #mess-number {
  position: relative;
  font-weight: bold;
  float: left;
  color: white;
}
#engb #engsocial .mess-menu {
  position: relative;
  float: right;
  top: -9px;
  color: white;
}
#engb #engsocial .message {
  clear: both;
  position: relative;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  background: #575757;
  color: white;
  padding: 10px;
  text-align: left;
  width: 75%;
  margin-bottom: 5px;
  margin-top: 10px;
}
#engb #engsocial .link {
  text-decoration: underline;
  color: rgb(0, 174, 255) !important;
}
#engb #engsocial .link:hover {
  cursor: pointer;
}
#engb #engsocial #sms-bottom {
  margin-top: 100px;
  margin-bottom: 10px;
  position: relative;
}
#engb #engsocial #sms-input {
  float: left;
  position: relative;
  width: 55%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 10px;
  margin-right: 5%;
  background-color: black;
  color: rgba(255, 255, 255, 0.664);
}
#engb #engsocial .sms-send {
  position: relative;
  color: white;
  background-color: var(--sapphire);
  padding: 10px;
  border-radius: 20px;
  margin-left: 5px;
}
#engb #engsocial .dropbtn {
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  width: 15px;
  cursor: pointer;
}
#engb #engsocial .dropbtn:hover, #engb #engsocial .dropbtn:focus {
  background-color: var(--sapphire);
  color: white;
}
#engb #engsocial .dropdown {
  position: relative;
  display: inline-block;
}
#engb #engsocial .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  right: 0;
  margin-top: 35px;
  margin-right: 20px;
}
#engb #engsocial .dropdown-content p {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
#engb #engsocial .dropdown-content p:hover {
  background-color: var(--sapphire);
  color: white;
}
#engb #engsocial .dropdown-content p:hover:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#engb #engsocial .dropdown-content p:hover:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#engb #engsocial .show {
  display: block;
}

/*-----   Verificação de Email   --------*/
#email {
  background-color: var(--mantle);
  border-radius: 0 0 10px 10px;
  height: calc(100% - (var(--titlebarh) + 6px));
  position: relative;
  display: flex;
  flex-direction: column;
}
#email #emailtopbar {
  background-color: var(--p1);
  padding: 20px 0;
  position: relative;
  box-shadow: 0 2px 5px grey;
  z-index: 1;
}
#email #emailtopbar span {
  float: left;
  color: white;
  font-weight: bolder;
  margin-left: 40px;
}
#email #emailtopbar .fa-circle-user {
  float: right;
  color: white;
  font-size: 25px;
  margin-right: 40px;
}
#email #emailtopbar .fa-magnifying-glass {
  margin-left: -30px;
  color: white;
}
#email #emailtopbar input {
  width: 60%;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(22, 22, 22, 0.747);
  border: none;
}
#email #emailcontent {
  width: 70%;
  height: -moz-min-content;
  height: min-content;
  background-color: white;
  margin: auto;
  position: relative;
  padding: 20px 0 0 5px;
  box-shadow: 0 2px 5px grey;
}
#email #emailcontent #text {
  text-align: left;
  padding: 20px;
}
#email #assunto {
  margin: 20px auto 0 auto;
  padding: 10px;
  height: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 3px grey;
}
#email #emailheader {
  border-bottom: 1px solid rgba(128, 128, 128, 0.493);
  position: relative;
  padding: 0 20px 5px 20px;
}
#email #iremetente {
  float: left;
  background: var(--p2);
  border-radius: 50px;
  padding: 5px;
  width: 23px;
  margin-right: 30px;
}
#email #remetente {
  padding: 10px;
  position: relative;
  font-weight: bold;
  text-align: left;
  width: 350px;
}
#email #remetente:hover {
  cursor: pointer;
}
#email #remetente:hover div {
  display: block;
}
#email #emailhover {
  position: absolute;
  top: 40px;
  left: 60px;
  display: none;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px grey;
  color: var(--blue);
}
#email .imail {
  position: relative;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}
#email .imail img {
  width: 150px;
}
#email #emailimghover {
  border: 1px solid var(--surface2);
  background: white;
  position: absolute;
  bottom: 0;
  width: 85%;
  padding: 3px;
  display: none;
}
#email #emailimg:hover {
  cursor: pointer;
}
#email #signimg {
  float: left;
}
#email #buttons {
  padding: 8px;
  clear: both;
}
#email #buttons .emailb {
  box-shadow: 0px 2px 6px grey;
  background: white;
  border: none;
  outline: none;
  color: var(--text);
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 10px;
}
#email #buttons .emailb:hover {
  background-color: var(--sapphire);
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  #email #emailcontent {
    width: 96%;
    height: 50vh;
  }
  #email #text {
    font-size: 0.65em;
  }
  #email #emailtopbar input {
    width: 40%;
  }
  #email #remetente {
    font-size: 0.7em;
  }
  #email #assunto {
    font-size: 0.7em;
  }
  #email .imail img {
    width: 100px;
  }
}

/*-----   UAC   -------------------------*/
#uacb {
  width: 100%;
  height: calc(100% - (var(--titlebarh) + 6px));
  border-radius: 0 0 10px 10px;
}
#uacb #uac {
  position: absolute;
  background-color: rgb(239, 241, 241);
  width: 500px;
  box-shadow: 0 3px 5px var(--surface2);
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
#uacb #uactopbar {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: calc(100% - 40px);
  background: #76b9ed;
  text-align: left;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
}
#uacb #uactitle {
  font-size: 22px;
  display: inline-block;
  margin-top: 10px;
}
#uacb #uaccontent {
  padding: 20px 30px;
  text-align: left;
}
#uacb #uacorigin {
  font-size: 15px;
}
#uacb #uacprogram {
  font-size: 22px;
}
#uacb #uacprogram i {
  color: rgb(0, 140, 255);
}
#uacb #uaclink {
  font-size: 15px;
  color: var(--blue);
}
#uacb #uaclink:hover {
  cursor: pointer;
}
#uacb #uacaddress {
  font-size: 15px;
}
#uacb #uacbottombar {
  background-color: rgb(239, 241, 241);
  padding: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
#uacb #uacbottombar input {
  border: none;
  outline: none;
  width: 200px;
  background-color: white;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(88, 88, 88, 0.397);
  font-size: 16px;
}
#uacb #uacbottombar input:hover {
  cursor: pointer;
  background-color: var(--sapphire);
  color: white;
  box-shadow: 0px 2px 4px rgba(88, 88, 88, 0.651);
}
@media only screen and (max-width: 600px) {
  #uacb #uactitle {
    font-size: 18px;
  }
  #uacb #uac {
    width: 95vw;
  }
  #uacb #uaccontent span {
    font-size: 16px;
  }
  #uacb #uacprogram {
    font-size: 20px;
  }
  #uacb #uacorigin {
    font-size: 13px !important;
  }
  #uacb #uacbottombar input {
    width: 80px;
  }
  #uacb #uactopbar {
    font-size: 11px;
  }
  #uacb #uaclink {
    font-size: 13px !important;
  }
  #uacb #uacaddress {
    font-size: 13px !important;
  }
}

/*-----   Wi-Fi   -----------------------*/
#browser {
  height: calc(100% - (var(--titlebarh) + 6px));
}
#browser #browsererror {
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: 0 auto;
  top: 35%;
  transform: translateY(-50%);
  text-align: left;
}
#browser #browsererror .error, #browser #browsererror .err {
  color: rgb(126, 124, 124);
}
#browser #browsererror .err {
  font-size: 13px;
}
#browser #browsererror span.diaglink {
  color: var(--blue);
  text-decoration: underline;
}
#browser #browsererror img {
  width: 60px;
  margin-bottom: 15px;
}
#browser #wifi {
  background-color: var(--p2);
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--p1);
  border-bottom: none;
  position: absolute;
  bottom: 0;
  right: 20px;
  color: var(--p1);
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  width: 300px;
  box-shadow: 0px 2px 4px rgb(88, 88, 88);
}
#browser .wifientry {
  text-align: left;
  padding: 20px 40px 20px 20px;
  position: relative;
  transition-duration: 0ms !important;
}
#browser .wifientry > .fa-wifi {
  font-size: 24px;
  margin-right: 10px;
}
#browser .wifientry > .fa-lock {
  position: absolute;
  margin-left: -15px;
  margin-top: 14px;
  font-size: 13px;
}
#browser .wifientry .extra {
  font-weight: normal;
  padding: 20px 0 25px 20px;
  display: none;
}
#browser .wifientry .extra input {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  outline: none;
  border-radius: 0px;
  padding: 5px 30px;
  transition-duration: 0ms !important;
}
#browser .wifientry .extra input:hover {
  cursor: pointer;
  outline: 3px solid gray;
}
#browser .wifientry:first-child {
  border-radius: 8px 8px 0 0;
}
#browser .wifientry:hover {
  background-color: var(--p1);
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=quizes.css.map */