:root {
    --p1:           #0f3866;
    --p2:           #94e8bf;
    --rosewater:    #dc8a78;
	--flamingo:	    #dd7878;
	--pink:         #ea76cb;
	--mauve:        #8839ef;
	--red:          #d20f39;
	--maroon:       #e64553;
	--peach:        #fe640b;
	--yellow:       #df8e1d;
    --gold:         rgb(241,205,1);
	--green:        #40a02b;
	--teal:         #179299;
	--sky:          #04a5e5;
	--sapphire:     #209fb5;
	--blue:         #1e66f5;
	--lavender:     #7287fd;
	--text:         #4c4f69;
	--subtext1:     #5c5f77;
	--subtext0:     #6c6f85;
	--overlay2:     #7c7f93;
	--overlay1:     #8c8fa1;
	--overlay0:     #9ca0b0;
	--surface2:     #acb0be;
	--surface1:     #bcc0cc;
	--surface0:     #ccd0da;
	--base:         #eff1f5;
	--mantle:       #e6e9ef;
	--crust:        #dce0e8;
    --titlebarh:         40px;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

* {
    margin: 0px;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}


body {
    background-color: var(--base);

    #index {
        width: 100vh;
        height: 100vw;
    }

    #block {
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        background-size: 150%;
        user-select: none;

        &.registo {
            background-image: url('../assets/img/corgo.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 150%;
            background-blend-mode: color-burn;

            input {
                &[type="text"] {
                    margin: 5px 10px;
                    background: #96969656;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border: none;
                    border-bottom: 2px solid var(--surface2);
                    padding: 6px 10px;
                    text-align: center;
                }
                &[type="button"] {
                    border: none;
                    outline: none;
                    width: 200px;
                    background-color: rgb(230, 230, 230);
                    height: 30px;
                    border-radius: 10px;
                    box-shadow: 0px 1px 5px rgba(88, 88, 88, 0.719);
                    font-size: 16px;

                    &:hover {
                        cursor:pointer;
                        background-color: #5ba08c;
                        color: white;
                        box-shadow: 0px 2px 8px rgba(88, 88, 88, 0.911);
                    }
                }
            }
        }
    }
    
    #popwindow, #sabias, #desafio, #registo, #quebra, #pontos{
        position:relative;
        border-radius: 20px;
        background-color: white;
        width:600px;
        margin:40px auto -20px auto;
        padding: 30px 40px;
        z-index: 11;
    }
    
    #registo {
        text-align: center;
        border:4px solid var(--p1);

        .info{
            color: var(--p1);
            font-size: 20px;
            font-weight: 900;
            font-family:'Raleway',sans-serif;
            line-height: auto;
            text-align: center;
            padding-bottom: 20px;
            padding-top: 5px;
        }

        .inputTitle {
            clear: both;
        }

        input {
            &[type='text'] {
                width: 40%;
                border: none;
                outline: none;
                height: 20px;
                border-radius: 10px;
                border-bottom:2px solid var(--p1) !important;

                &:hover, &:focus {
                    border-bottom:2px solid var(--p2) !important;                    
                }
            }
            
        }

    }
    
    #desafio, #quebra, #pontos {
        text-align: center;
    }

    #quebra{

        .img1 img{
            //width: 60px;  
            //height: auto;  
            //display: block;
            margin-left: auto;
            margin-right: 5px;
            margin-bottom: 10px;
            margin-top: 40px;
        }

        input{
            border: none;
            outline: none;
            width: 200px;
            background-color: rgb(230, 230, 230);
            padding: 10px;
            margin: 0 10px;
            border-radius: 10px;
            box-shadow: 0px 1px 5px rgba(88, 88, 88, 0.719);
            font-size: 16px;

            &:hover:not([disabled]) {
                cursor:pointer;
                background-color: var(--p1) !important;
                color: white;
                box-shadow: 0px 2px 8px rgba(88, 88, 88, 0.911);
            }
        }

        #quebrat{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px 20px;
            margin-bottom: none;

            .quebrasmaller{
                font-family:'Segoe UI';
                font-size: 19px;
                line-height: 150%;
                text-align: center;
                color: rgb(0, 0, 0);
                letter-spacing: .4px;
                font-weight: 900;
                font-weight: bolder;
            }

            .quebrabigger{
                text-transform: uppercase;
                font-family:'Segoe UI';
                font-weight: bolder;
                letter-spacing: -2px;
                margin-top: -.3rem;
                margin-bottom: 0.1rem;
                color: var(--p1);
                text-align: center;
                text-shadow: 2px 2px 2px var(--p2), 5px 5px 5px var(--p2);
                mix-blend-mode: multiply;
            }
        }       
    }
    
    #popwindow {
        border: 3px solid var(--p1);
    }
    
    #nextbdiv, #confirmdiv{
        position:relative;
        width:fit-content;
        margin:40px auto -20px auto;
        z-index: 11;
    
    }
    
    #balao1 .fa-caret-right, #balao2 .fa-caret-right {
        margin: 10px;
        color: #5ba08c;
    }

    .popbutton{
        border: none;
        outline: none;
        width: 200px;
        background-color: rgb(230, 230, 230);
        padding: 10px;
        margin: 0 10px;
        border-radius: 10px;
        box-shadow: 0px 1px 5px rgba(88, 88, 88, 0.719);
        font-size: 16px;

        &:hover:not([disabled]) {
            cursor:pointer;
            background-color: var(--p1) !important;
            color: white;
            box-shadow: 0px 2px 8px rgba(88, 88, 88, 0.911);
        }
    }
    
    #sabias {
        background: none;
        overflow: hidden;
    }
    
    #montana {
        float: left;

        img{
            width: 110px;
        }
    }
    
    #sabiasque {
        float: right;
        width: 80%;
        border-radius: 10px;
        background-color: var(--p1);
    }
    
    #sabias1, #sabias2 {
        padding: 5px;
    }
    
    .right {
        text-align: center;
        color: rgb(85, 146, 85);
    }
    
    .wrong {
        text-align: center;
        color: rgb(155, 31, 31);
    }

    .squote {
        color: var(--p2);
        font-weight: bold;
        margin-bottom: 5px;
        display: inline-block;
    }
    
    .tquote {
        color: white;
        font-size: small;
    }

    .subtitle{
        color: var(--p1);
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .quiz-area {
        color: var(--text);
        background-color: var(--mantle);
        width: 92%;
        height: 80vh;
        clear: both;
        margin: 20px 4% 0 4%;
        border: 1px solid var(--p1);
        border-radius: 10px;
        box-shadow: 0 5px 30px var(--surface2);
        position: absolute;

        .title-bar {
            border: 1px solid var(--surface0);
            line-height: 40px;
            padding: 2px 12px 2px 0;
            height: var(--titlebarh);
            border-radius: 10px 10px 0 0;
            background-color: var(--surface0);
            overflow:hidden;

            .title {
                font-weight: bold;
                margin-left: 10px;
                position: relative;
                float:left;
                margin-left: 20px;
                padding: 0 20px 0 20px;
                background-color: var(--mantle);
                border-radius: 10px;
                font-size: 16px;
            }

            .window-icons {
                float:right;
                color: var(--p1);
                
                & > i:not(:last-child) {
                    margin-right: 20px;
                }
            }
            
            
        }

        #help {
            position: absolute;
            bottom: 50px;
            left: 50px;
            z-index: 2;

            #helpi {
                color: white;
                background-color: var(--p1);
                border-radius: 30px;
                padding: 5px 10px;
                font-size: 30px;
                transition-duration: 0ms;

                &:hover {
                    cursor: help;
                }
            }

            #helpt {
                position: absolute;
                bottom: 60px;
                padding: 10px;
                width: 250px;
                word-wrap: normal;
                border-radius: 10px;
                background-color: white;
                display: none;
                border: 1px solid var(--p1);
            }

            .floating{
                animation-name: floating;
                animation-duration: 1s;
                animation-iteration-count: 2;
                animation-timing-function: ease-in-out;
            }
            @keyframes floating {
                from { transform: translate(0,  0px); }
                65%  { transform: translate(0, 15px); }
                to   { transform: translate(0, -0px); }  
            }
        }
    }

    .helpjanela {

            position: relative;
            align-self: center;

        i {
            color: var(--p2);
            background-color: var(--p1);
            border-radius: 30px;
            padding: 4px 4px;
            font-size: 20px;
        }
    }

    .quiz, #test {
        text-align: center;
        height: 100%;
    }

    .quipdisabled {
    display:none !important}

    #pontosContainer {
        width: 100vw;
        height: 100vh;

        .pontosFinal {
            position: relative;
            border-radius: 5px;
            background-color: white;
            width: max-content;
            padding: 40px 80px;
            box-shadow: 0 3px 3px var(--surface2);
            margin: 0 auto;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: center;

            .bigger{
                color: black;
                font-size: 30px;
                font-weight: 800;
                font-family:'Raleway',sans-serif;
                line-height: auto;
                text-transform: uppercase;
                padding-bottom: 30px;
                text-align: center;
            }

            .little{
                color: black;
                font-size: 20px;
                font-weight: light;
                font-family:'Raleway',sans-serif;
                line-height: auto;
                text-transform: uppercase;
                text-align: center;
            }

            input{
                width: 300px;
                background-color: var(--p1);
                box-shadow: inset 0 0 0 2px #13437a;
                color: white;
                font-weight: bold;

                &:hover:not([disabled]) {
                    background-color: #5ba08c;
                    color: black;
                    box-shadow: 0px 2px 8px rgba(88, 88, 88, 0.911);
                }
            }
        }
        #sugestoes {
            #sugestao {
                border-radius: 10px;
                padding: 10px;
                border: none;
                outline: none;
                border: 3px solid var(--p1);
            }
        }
    }

    @media only screen and (max-width: 700px) {
        .quiz-area {
            height: 80vh;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            width: 100vw;
            border-radius: none;
            border-radius: 0px !important;
            border: none;
            padding: 0;
        }
        .title-bar {
            border-radius: 0px !important;
        }
        #help {
            bottom: 8px !important;
            left: 20px !important;
        }
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align:center;
        background-color: var(--p1);
        padding: 10px 0;

        img {
            height: 40px;
        }
    }
}

@media only screen and (max-width: 700px) {
    #popwindow, #desafio, #quebra, #pontos, #registo {
        padding: 20px 0px 30px 0px !important;
        border-radius: 0px !important;
        margin: auto !important;
        width: 100% !important;
        border: none !important;
    }
    #pop-up, #balao1, #balao2 {
        padding: 20px;
    }

    .quebrabigger {
        font-size: 40px !important;
    }

    .popbutton {
        width: 120px !important;
        padding: 15px !important;
    }
    #sabiasque {
        width: 30% !important;
        margin-right: 50%;
    }
}

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

// Página capa de apresentação

.white{
    background-color: white;
}

.capa{

    .logotipo{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: var(--p1);
    }

    .header{
        position: relative;
        padding-top: 40px;
        padding-bottom: 5px;
        background-color: white;
        
        .title{
            font-size: 90px;
            text-align: center;
            font-weight: bolder;
            text-transform: uppercase;
            font-family:'Segoe UI';
            letter-spacing: -2px;
            margin-top: -.3rem;
            margin-bottom: 0.3rem;
            color: var(--p1);
            text-shadow: 2px 2px 2px var(--p2), 5px 5px 5px var(--p2);
            mix-blend-mode: multiply;
        }
    }

    .body{
        position: relative;
        padding-top: 40px;
        text-align: center;

        .little{
            color: black;
            font-size: 20px;
            font-weight: 800;
            font-family:'Raleway',sans-serif;
            line-height: auto;
            text-transform: uppercase;
        }

        .bigger{
            color: black;
            font-size: 30px;
            font-weight: 800;
            font-family:'Raleway',sans-serif;
            line-height: auto;
            text-transform: uppercase;
            padding-bottom: 30px;
        }

        input{
            width: 400px;
            background-color: var(--p1);
            box-shadow: inset 0 0 0 2px #13437a;
            color: white;
            font-weight: bold;

            &:hover:not([disabled]) {
                background-color: #5ba08c;
                color: black;
                box-shadow: 0px 2px 8px rgba(88, 88, 88, 0.911);
            }
        }

        .tempo{
            color: var(--p1);
            font-size: 15px;
            font-weight:light;
            font-family:'Raleway',sans-serif;
            line-height: auto;
        }

        .info{
            color: var(--p1);
            font-size: 15px;
            font-weight:light;
            font-family:'Raleway',sans-serif;
            line-height: auto;
        }
    }
    @media only screen and (max-width: 700px) {
        .title {
            font-size: 50px !important;
        }
    }
}

.emoji{
    //width: 60px;  
    //height: auto;  
    //display: block;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}




